* {
    padding: 0;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e4d5bb;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
    height: 100vh;
}


.header-title, .promo-form, .dlgameId, .footernote {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.promo-form, .dlgameId, .footernote {
    padding: 0 40px;
}
.header-title {
    margin-top: 20px;
}

.header-title img {
    margin: 10px 0;
}

.game-id-input {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container label {
    margin-right: 10px; /* Adjust as needed */
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 600;
}


.promo-form .form-wrapper .promo-code-input label, .promo-form .form-wrapper .game-id-input label {
    background: #910314;
    color: white;
    font-weight: 600;
    border-radius: 10px 0 0 10px;
    font-size: 1.5rem;
}

.promo-form .form-wrapper .promo-code-input input, .promo-form .form-wrapper .game-id-input input {
    font-size: 1.5rem;
    border-radius: 0 10px 10px 0;
    padding: 20px 20px;
}

.promo-form .form-wrapper .promo-code-input input {
    margin-left: -4px;
}

.promo-form .form-wrapper .game-id-input input {
    margin-left: -10px;
}

.promo-form .form-wrapper .promo-code-input input {
    border: 3px #fff solid;
}

.promo-form .form-wrapper .game-id-input input {
    border: 3px #fff solid;
}

.promo-form .form-wrapper .promo-code-input, .promo-form .form-wrapper .game-id-input {
    width: 100%;
    height: 100%;
    margin: 0 0 20px 0;
}

.promo-form .form-wrapper .game-id-input input[type=text]:focus {
    border: 3px solid red;
    outline: none;
}

.promo-form .form-wrapper .promo-code-input input[type=text]:disabled {
    background: #fff;
    color: #afafaf;
}

.promo-form .form-wrapper .game-id-input label {
    padding: 20px 66px 20px 20px;
}

.promo-form .form-wrapper .promo-code-input label {
    padding: 20px 20px;
}

.promo-form .form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dlgameId {
    margin-bottom: 4rem;
}

.dlgameId .rummytryimg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footernote {
    margin: 30px 0;
    padding-bottom: 30px;
}

.footernote .footer-wrapper p {
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}

.footernote .footer-wrapper p span {
    color: yellow;
    font-weight: 800;
}

.footer-wrapper {
    background: rgb(199,0,6);
    background: linear-gradient(0deg, rgba(199,0,6,1) 0%, rgba(96,2,7,1) 100%);
    padding: 30px;
    border-radius: 10px;
}

#downloadBtn {
    margin-top: -130px;
}
#downloadBtn, #claimBtn {
    transition: transform 0.3s ease; /* Add transition effect for smooth scaling */
    cursor: pointer; /* Set cursor to pointer to indicate interactivity */
}

#downloadBtn:hover, #claimBtn:hover {
    transform: scale(1.1); /* Scale the button by 10% when hovered over */
}

.modal-overlay {
    display: none; /* Initially hide the modal overlay */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black overlay */
    z-index: 999; /* Ensure the modal overlay appears above other content */
}

.modal-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 100%; /* Limit the maximum width of the modal */
}

/* .modal-wrapper img {
    /*max-width: 90%;  Ensure the image does not exceed the width of the modal */
    /*height: auto;  Preserve aspect ratio */


.modal-wrapper img.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.closeBtn {
    position: absolute;
    right: 0;
}



/* @media only screen and (max-width: 414px) {
    #downloadBtn {
        position: absolute;
        bottom: 38%;
        left: 50%;
        transform: translateX(-50%);
    }
    
} */
    

/* @media only screen and (max-width: 750px) {
    #downloadBtn {
        position: absolute;
        bottom: 28%;
        left: 50%;
        transform: translateX(-50%);
    }
} */